fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
crewai
langchain
langchain-text-splitters
langchain-google-genai
langchain-ollama
chromadb
requests
httpx
python-dotenv
pytest
firebase-admin
PyMuPDF
# psycopg2-binary removed for SQLite
